<p style="color: green"><%= notice %></p>

<%= render @pr_log %>

<div>
  <%= link_to "Edit this pr log", edit_pr_log_path(@pr_log) %> |
  <%= link_to "Back to pr logs", pr_logs_path %>

  <%= button_to "Destroy this pr log", @pr_log, method: :delete %>
</div>
